## Parte 1 ● Ejecutar los scripts con una muestra relativamente pequeña de cada uno de losendpoints y verificar que todo funcione correctamente.

○ Demanda 

○ Balance

https://www.ree.es/es/datos/apidatos

In [3]:
import requests
import pandas as pd
import numpy as np
from pprint import pprint

In [4]:
# Versiones

print(f"numpy=={np.__version__}")
print(f"pandas=={pd.__version__}")
print(f"requests=={requests.__version__}")

numpy==1.26.4
pandas==2.2.2
requests==2.32.3

In [ ]:
dicc_geo_limit = {  
    "geo_limit": "&geo_limit=peninsular&geo_ids=8741", # peninsular
    "geo_limit": "&geo_limit=canarias&geo_ids=8742",# canarias
    "geo_limit": "&geo_limit=Islas Baleares&geo_ids=8743",# baleares
    "geo_limit": "&geo_limit=ceuta&geo_ids=8744",# ceuta
    "geo_limit": "&geo_limit=melilla&geo_ids=8745",# melilla
    "geo_limit": "&geo_limit=ccaa&geo_ids=8746"# ccaa
}

dicc_geo_id = {
    "geo_id": "&geo_limit=ccaa&geo_ids=4", #Andalucía
    "geo_id": "&geo_limit=ccaa&geo_ids=5", #Aragón
    "geo_id": "&geo_limit=ccaa&geo_ids=6", #Cantabria
    "geo_id": "&geo_limit=ccaa&geo_ids=7", #castilla la mancha
    "geo_id": "&geo_limit=ccaa&geo_ids=8", #castilla y león
    "geo_id": "&geo_limit=ccaa&geo_ids=9", #cataluña
    "geo_id": "&geo_limit=ccaa&geo_ids=10", #pais vasco
    "geo_id": "&geo_limit=ccaa&geo_ids=11", #principado de asturias
    "geo_id": "&geo_limit=ccaa&geo_ids=13", #comunidada de madrid
    "geo_id": "&geo_limit=ccaa&geo_ids=14",#comunidada de navarra
    "geo_id": "&geo_limit=ccaa&geo_ids=15", #comunidada de valenciana
    "geo_id": "&geo_limit=ccaa&geo_ids=16", #extremadura
    "geo_id": "&geo_limit=ccaa&geo_ids=17", #galicia
    "geo_id": "&geo_limit=ccaa&geo_ids=20", #la rioja
    "geo_id": "&geo_limit=ccaa&geo_ids=21", #region de murcia
    }

In [39]:
# URL de la API
url = "https://apidatos.ree.es"

# Parámetros
params = {
    "start_date": "2019-01-01T00:00",
    "end_date": "2019-12-31T23:59",
    "time_trunc": "day",
    "geo_limit":"peninsular"
}

# Headers + User-Agent
headers = {
    "Accept": "application/json",
    "Content-Type": "application/json",
    "Host": "apidatos.ree.es",
    "User-Agent": "Mozilla/5.0"
}

In [ ]:
### BALANCE ###
# Endpoint
filtro_balance = '/es/datos/balance/balance-electrico'

url_filtrada = f'{url}{filtro_balance}'

#request
response = requests.get(url_filtrada, headers=headers, params=params)

if response.status_code == 200:
    try:
        # Intentar convertir la respuesta a JSON
        data = response.json()
        included = data['included']

        registros = []

        for grupo in included:
            group_name = grupo['attributes']['title']  # Ej: "Renovable"
            contenidos = grupo['attributes'].get('content', [])

            for item in contenidos:
                indicador = item['attributes']['title']  # Ej: "Hidráulica"
                valores = item['attributes'].get('values', [])

                for punto in valores:
                    registros.append({
                        'datetime': punto['datetime'],
                        'value': punto['value'],
                        'indicator': indicador,
                        'group': group_name,
                        'region': 'canarias'
                    })
        df = pd.DataFrame(registros)
        display(df)

        df.to_csv('balance_electrico_dia_2019_canarias.csv', index=False)

    except ValueError as e:
        print("Contenido de la respuesta:", response.text)

,datetime,value,indicator,group,region
0,2019-01-01T00:00:00.000+01:00,53722.120,Hidráulica,Renovable,canarias
1,2019-01-02T00:00:00.000+01:00,61294.768,Hidráulica,Renovable,canarias
2,2019-01-03T00:00:00.000+01:00,82981.951,Hidráulica,Renovable,canarias
3,2019-01-04T00:00:00.000+01:00,94301.940,Hidráulica,Renovable,canarias
4,2019-01-05T00:00:00.000+01:00,58822.692,Hidráulica,Renovable,canarias
...,...,...,...,...,...
8395,2019-12-27T00:00:00.000+01:00,670283.769,Demanda en b.c.,Demanda,canarias
8396,2019-12-28T00:00:00.000+01:00,643322.535,Demanda en b.c.,Demanda,canarias
8397,2019-12-29T00:00:00.000+01:00,613691.904,Demanda en b.c.,Demanda,canarias
8398,2019-12-30T00:00:00.000+01:00,685637.121,Demanda en b.c.,Demanda,canarias
8399,2019-12-31T00:00:00.000+01:00,652142.160,Demanda en b.c.,Demanda,canarias

In [ ]:
### DEMANDA ###
# Endpoint

,datetime,value,indicator,group,region
0,2019-01-01T00:00:00.000+01:00,53722.120,Hidráulica,Renovable,canarias
1,2019-01-02T00:00:00.000+01:00,61294.768,Hidráulica,Renovable,canarias
2,2019-01-03T00:00:00.000+01:00,82981.951,Hidráulica,Renovable,canarias
3,2019-01-04T00:00:00.000+01:00,94301.940,Hidráulica,Renovable,canarias
4,2019-01-05T00:00:00.000+01:00,58822.692,Hidráulica,Renovable,canarias
...,...,...,...,...,...
8030,2019-12-27T00:00:00.000+01:00,674150.472,Demanda en b.c.,Demanda,canarias
8031,2019-12-28T00:00:00.000+01:00,646963.129,Demanda en b.c.,Demanda,canarias
8032,2019-12-29T00:00:00.000+01:00,617265.192,Demanda en b.c.,Demanda,canarias
8033,2019-12-30T00:00:00.000+01:00,689973.969,Demanda en b.c.,Demanda,canarias
8034,2019-12-31T00:00:00.000+01:00,656514.303,Demanda en b.c.,Demanda,canarias

○ Generación 

○ Intercambio

In [42]:
### GENERACION ###

filtro_generacion = '/es/datos/generacion/estructura-generacion'

url_filtrada = f'{url}{filtro_generacion}'

#request
response = requests.get(url_filtrada, headers=headers, params=params)


if response.status_code == 200:
    try:
        # Intentar convertir la respuesta a JSON
        data = response.json()
        included = data['included']

        registros = []

        for grupo in included:
            group_name = grupo['attributes']['title']  # Ej: "Renovable"
            contenidos = grupo['attributes'].get('content', [])

            for item in contenidos:
                indicador = item['attributes']['title']  # Ej: "Hidráulica"
                valores = item['attributes'].get('values', [])

                for punto in valores:
                    registros.append({
                        'datetime': punto['datetime'],
                        'value': punto['value'],
                        'indicator': indicador,
                        'group': group_name,
                        'region': 'canarias'
                    })
        df = pd.DataFrame(registros)
        display(df)

        df.to_csv('balance_electrico_dia_2019_canarias.csv', index=False)
    except ValueError as e:
        print("Contenido de la respuesta:", response.text)

Empty DataFrame
Columns: []
Index: []

In [18]:
### INTERCAMBIO ###

lista_paises = ['francia-frontera', 'portugal-frontera', 'marruecos-frontera', 'andorra-frontera']

datos_intercambios = []

for pais in lista_paises:
    print(f'Consultando datos de {pais}...')

    filtro_intercambio = f"/es/datos/intercambios/{pais}"
    url_filtrada = f"{url}{filtro_intercambio}"

    response = requests.get(url_filtrada, headers=headers, params=params)

    if response.status_code == 200:
        valores = data["included"][0]["attributes"]["values"]
        df = pd.DataFrame(valores)
        df["pais"] = pais
        datos_intercambios.append(df)

df_intercambio = pd.concat(datos_intercambios, ignore_index=True)
display(df_intercambio)

Consultando datos de francia-frontera...
Consultando datos de portugal-frontera...
Consultando datos de marruecos-frontera...
Consultando datos de andorra-frontera...

          value  percentage                       datetime              pais
0      -208.239    0.003465  2019-01-01T00:00:00.000+01:00  francia-frontera
1     -2325.553    0.036857  2019-01-02T00:00:00.000+01:00  francia-frontera
2    -11123.719    0.243767  2019-01-03T00:00:00.000+01:00  francia-frontera
3    -17758.093    0.397978  2019-01-04T00:00:00.000+01:00  francia-frontera
4     -4267.317    0.102386  2019-01-05T00:00:00.000+01:00  francia-frontera
...         ...         ...                            ...               ...
1455 -14385.116    0.664000  2019-12-27T00:00:00.000+01:00  andorra-frontera
1456 -32404.749    0.785624  2019-12-28T00:00:00.000+01:00  andorra-frontera
1457 -11030.453    0.377695  2019-12-29T00:00:00.000+01:00  andorra-frontera
1458   -179.740    0.002658  2019-12-30T00:00:00.000+01:00  andorra-frontera
1459 -11693.145    0.340651  2019-12-31T00:00:00.000+01:00  andorra-frontera

[1460 rows x 4 columns]

In [263]:
################################################################################################################################