In [9]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [11]:
# CARPETA BALANCE
df = pd.read_csv('balance-electrico.csv')

In [19]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992860 entries, 0 to 992859
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   fecha    992860 non-null  object
 1   valor    992860 non-null  float64
 2   tipo     992860 non-null  object
 3   energia  992860 non-null  object
 4   region   992860 non-null  object
dtypes: float64(1), object(4)
memory usage: 37.9+ MB

,fecha,valor,tipo,energia,region
0,2019-01-01T00:00:00.000+01:00,53722.120,Hidráulica,Renovable,peninsular
1,2019-01-02T00:00:00.000+01:00,61294.768,Hidráulica,Renovable,peninsular
2,2019-01-03T00:00:00.000+01:00,82981.951,Hidráulica,Renovable,peninsular
3,2019-01-04T00:00:00.000+01:00,94301.940,Hidráulica,Renovable,peninsular
4,2019-01-05T00:00:00.000+01:00,58822.692,Hidráulica,Renovable,peninsular
...,...,...,...,...,...
992855,2024-12-27T00:00:00.000+01:00,675212.456,Demanda en b.c.,Demanda,region de murcia
992856,2024-12-28T00:00:00.000+01:00,641243.762,Demanda en b.c.,Demanda,region de murcia
992857,2024-12-29T00:00:00.000+01:00,618610.074,Demanda en b.c.,Demanda,region de murcia
992858,2024-12-30T00:00:00.000+01:00,690745.398,Demanda en b.c.,Demanda,region de murcia
992859,2024-12-31T00:00:00.000+01:00,665712.737,Demanda en b.c.,Demanda,region de murcia

In [22]:
# Cambiamos el formato de fecha y en valor, trabajamos con MWh ya que se ven mejor

df['fecha'] = pd.to_datetime(df['fecha'].str.split('T').str[0])
df['valor'] = df['valor']/1e3

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992860 entries, 0 to 992859
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   fecha    992860 non-null  datetime64[ns]
 1   valor    992860 non-null  float64
 2   tipo     992860 non-null  object
 3   energia  992860 non-null  object
 4   region   992860 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 37.9+ MB

In [26]:
# Comprobamos los valores unicos que hay en las columnas para hacernos una idea general

df['tipo'].unique()

array(['Hidráulica', 'Eólica', 'Solar fotovoltaica', 'Solar térmica',
       'Hidroeólica', 'Otras renovables', 'Residuos renovables',
       'Generación renovable', 'Nuclear', 'Ciclo combinado', 'Carbón',
       'Motores diésel', 'Turbina de gas', 'Turbina de vapor',
       'Fuel + Gas', 'Cogeneración', 'Residuos no renovables',
       'Generación no renovable', 'Turbinación bombeo', 'Consumo bombeo',
       'Saldo almacenamiento', 'Saldo I. internacionales',
       'Demanda en b.c.', 'Entrega batería', 'Carga batería'],
      dtype=object)

In [28]:
df['energia'].unique()

array(['Renovable', 'No-Renovable', 'Almacenamiento', 'Demanda'],
      dtype=object)

In [30]:
# Comprobamos los valores que hay en cada región

df.groupby('region')['valor'].sum()

region
andalucia                  4.584612e+06
aragon                     4.584612e+06
baleares                   4.584612e+06
canarias                   4.584612e+06
cantabria                  4.584612e+06
castilla la mancha         4.584612e+06
castilla y leon            4.584612e+06
cataluña                   4.584612e+06
ceuta                      4.584612e+06
comunidad de madrid        4.584612e+06
comunidad de navarra       4.584612e+06
comunidad de valenciana    4.584612e+06
extremadura                4.584612e+06
galicia                    4.584612e+06
la rioja                   4.584612e+06
melilla                    4.584612e+06
pais vasco                 4.584612e+06
peninsular                 4.584612e+06
principado de asturias     4.584612e+06
region de murcia           4.584612e+06
Name: valor, dtype: float64

In [32]:
# La columna de las regiones parece que está repitiendo los datos, con lo que eliminamos los duplicados que haya en 
# el resto de columnas sin tener en cuenta esa

df_sin_duplicados = df.drop_duplicates(subset=['fecha', 'valor', 'tipo', 'energia'])

In [34]:
# Vemos que se eliminan gran cantidad de filas porque efectivamente se estaban duplicando en cada region

total_filas_original = len(df)
total_filas_sin_duplicados = len(df_sin_duplicados)
filas_eliminadas = total_filas_original - total_filas_sin_duplicados

print(f'Número de filas eliminadas: {filas_eliminadas}, Número de filas restantes: {total_filas_sin_duplicados}')

Número de filas eliminadas: 943217, Número de filas restantes: 49643

In [6]:
# Guardamos el csv limpio
df = df_sin_duplicados.to_csv('balance-electrico-limpio.csv', index=False)

NameError: name 'df_sin_duplicados' is not defined