EN ESTE NOTEBOOK VA TODO LO DE LA LIMPIEZA Y EL MODELADO DE LOS DATOS

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df_fronteras = pd.read_csv('../data/sinprocesar/intercambio/fronteras.csv')
df_enlace_baleares = pd.read_csv('../data/sinprocesar/intercambio/enlace-baleares.csv')
# Hacer lo mismo para el resto de archivos a limpiar
# ESPERAR A QUE ANDRE LOS REVISE

In [9]:
print('DataFrame de fronteras:')
display(df_fronteras.head())
print('DataFrame de enlace Baleares:')
display(df_enlace_baleares.head())

DataFrame de fronteras:

,value,percentage,datetime,pais,año
0,-208.239,0.003465,2019-01-01T00:00:00.000+01:00,francia-frontera,2019
1,-2325.553,0.036857,2019-01-02T00:00:00.000+01:00,francia-frontera,2019
2,-11123.719,0.243767,2019-01-03T00:00:00.000+01:00,francia-frontera,2019
3,-17758.093,0.397978,2019-01-04T00:00:00.000+01:00,francia-frontera,2019
4,-4267.317,0.102386,2019-01-05T00:00:00.000+01:00,francia-frontera,2019

DataFrame de enlace Baleares:

      value  percentage                       datetime              pais   año
0 -3181.766         0.5  2019-01-01T00:00:00.000+01:00  andorra-frontera  2019
1 -3959.886         0.5  2019-01-02T00:00:00.000+01:00  andorra-frontera  2019
2 -4407.091         0.5  2019-01-03T00:00:00.000+01:00  andorra-frontera  2019
3 -4373.999         0.5  2019-01-04T00:00:00.000+01:00  andorra-frontera  2019
4 -3870.764         0.5  2019-01-05T00:00:00.000+01:00  andorra-frontera  2019

In [12]:
print('Info de fronteras:')
df_fronteras.info()
print('')
print('Info de enlace Baleares:')
df_enlace_baleares.info()

Info de fronteras:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8768 entries, 0 to 8767
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       8768 non-null   float64
 1   percentage  8768 non-null   float64
 2   datetime    8768 non-null   object
 3   pais        8768 non-null   object
 4   año         8768 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 342.6+ KB

Info de enlace Baleares:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189 entries, 0 to 2188
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       2189 non-null   float64
 1   percentage  2189 non-null   float64
 2   datetime    2189 non-null   object
 3   pais        2189 non-null   object
 4   año         2189 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 85.6+ KB

In [15]:
print('Estadisticas de fronteras:')
df_fronteras.describe()

Estadisticas de fronteras:

              value   percentage          año
count   8768.000000  8768.000000  8768.000000
mean  -13772.056369     0.655984  2021.500456
std    18064.191266     0.374093     1.708279
min   -80976.499000     0.000000  2019.000000
25%   -23412.982250     0.317798  2020.000000
50%    -3777.712500     0.838775  2021.500000
75%     -684.652500     0.998803  2023.000000
max        0.000000     1.000000  2024.000000

In [16]:
print('Estadisticas de enlace Baleares:')
df_enlace_baleares.describe()

Estadisticas de enlace Baleares:

             value  percentage          año
count  2189.000000      2189.0  2189.000000
mean  -3481.136835         0.5  2021.498401
std    1607.519550         0.0     1.708839
min   -7196.948000         0.5  2019.000000
25%   -4527.879000         0.5  2020.000000
50%   -3612.859000         0.5  2021.000000
75%   -2285.797000         0.5  2023.000000
max    -494.899000         0.5  2024.000000

Limpieza de Datos

    Realizaremos las siguientes tareas de limpieza:
        Eliminar filas duplicadas
        Manejar valores nulos
        Corregir tipos de datos"

In [21]:
# Eliminar duplicados
df_fronteras.drop_duplicates(inplace=True)
df_enlace_baleares.drop_duplicates(inplace=True)

# Revisar valores nulos
df_fronteras.ffill( inplace=True)  # Llenar valores nulos
df_enlace_baleares.ffill( inplace=True)  # Llenar valores nulos

#Corregir tipos de datos
df_fronteras['datetime'] = pd.to_datetime(df_fronteras['datetime'], utc=True)
df_enlace_baleares['datetime'] = pd.to_datetime(df_enlace_baleares['datetime'], utc=True)